@import "null.css";
/* ============================================================================================================================= */
/*====== Подключаемые Шрифты======= */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.woff2') format("woff2"), url('../fonts/Raleway-Medium.woff') format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-MediumItalic.woff2') format("woff2"), url('../fonts/Raleway-MediumItalic.woff') format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.woff2') format("woff2"), url('../fonts/Raleway-Bold.woff') format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-BoldItalic.woff2') format("woff2"), url('../fonts/Raleway-BoldItalic.woff') format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
/*====================================== */

.wrapper{
	padding: 5px;
}
.header {
	font-family: "Noto Sans";
	text-align: center;
	margin: 0px 0px 15px 0px;
	font-weight: bold;
	color: rgb(105, 134, 160);
	font-size: 25px;
	
}
.main {
	font-family: "Roboto Slab";
	line-height: 1.5;
	font-size: 20px;

}
.body {

}
.introduction {
	margin: 0px 0px 10px 0px;
	
}
.title {
	font-size: 24px;
	font-weight: bold;
	text-shadow: 5px 3px 3px rgb(175, 120, 247);
}
.subtitle{
	font-size: 22px;
	font-weight: bold;
	text-align: right;
}
img{
	margin: 0px 0px 10px 0px;
}
h3{
	font-size: 22px;
	text-decoration: underline;
}
.class_verb{
	font-family: Raleway;
	font-style: italic;
}
.class_verb li{
	padding: 0 0 0 15px;
}
.class_verb+p{
	color: rgb(6, 78, 78);
	text-shadow: -2px 2px 3px rgb(114, 32, 207);
	text-transform: capitalize;
}
.class_verb~h3{
	text-align: center;
}
.type_verb {
	padding: 0 0 0 20px;
}
.type_verb li{
	font-family: Raleway;
	text-shadow: 5px 5px 5px rgb(253, 2, 2);
}
.verb_exp {
	padding: 0 0 0 20px;
}
.verb_exp li{
	font-family: "Roboto Slab";
	text-shadow: none;
}
.endings {
	font-weight: bold;
	text-decoration: underline;
	color: rgb(206, 7, 7);
}
.verb_regular {
	margin: 0px 0px 10px 0px;
}
.verb_regular h3{
	text-align: right;
	margin: 0px 0px 10px 0px;
}
.ending_ar,.ending_er,.ending_ir {
	padding: 0 5px;
}
.ending_ar h4{
	margin: 0px 0px 10px 0px;
}
.ending_ar h4+p{
  font-weight: bold;
}
.change_verb {
	font-family: "Raleway";
}
.change_verb li{
	padding: 0 0 0 20px;
}
.endings_ar_list~p{
	text-decoration: overline;
}

.endings_ar_list .endings{
	color: rgb(73, 7, 255);
}
.color_red{
	color: red;
}
.color_red.fz30{
	color: rgb(182, 92, 92);
	font-size: 30px;
}


.ending_er h4{
	margin: 0px 0px 10px 0px;
	letter-spacing: 5px;
}
.ending_er p,.ending_ir p{
	text-decoration: underline;
}

.verb_cambio_de_vocal {
	margin: 0px 0px 10px 0px;
	
}
.verb_cambio_de_vocal .description {
 text-indent: 15px;
 color: black;
 letter-spacing: normal;
}

.verb_cambio_de_vocal>p{
	color: rgb(170, 26, 26);
	letter-spacing: 10px;
}
.description+p{
	text-decoration: line-through;
}
h4 .endings{
	text-decoration: overline;
	text-shadow: 10px 10px 3px rgb(230, 255, 3),5px 5px 5px rgb(255, 116, 3);

}
.verb_transl{
	font-family: "Noto Sans";

}
.verb_presente_irreg {
	margin: 0px 0px 10px 0px;
	
}
.verb_presente_irreg .change_verb{
	font-style: italic;
}
h4 .endings{
	text-transform: uppercase;
	text-decoration: underline;
	text-shadow: 10px 10px 8px rgb(20, 3, 255), 5px 5px 5px rgb(255, 3, 200);
}
h3 span{
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: rgb(19, 9, 158);
	text-shadow: 1px 1px 8px rgb(68, 65, 241);
}
.verb_completamente_irreg .description{
	word-spacing: 20px;
}
p span{
	font-weight: bold;
}
.v_irreg {
	font-weight: 700;
	text-shadow: 2px 2px 5px rgb(27, 92, 1);
}
.verb_completamente_irreg {
	margin: 0px 0px 10px 0px;
}
.verb_completamente_irreg>h3{
	text-transform: lowercase;

}
.footer {
	font-family: "Dancing Script";
	text-align: right;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 25px;
	text-shadow: 3px 3px 3px rgb(132, 2, 253);
}

